
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Y-Bike</title>		
        <meta name="description" content="Y-Bike">
		<link rel="shortcut icon" type="image/png" href="https://i.imgur.com/6Aeiu5P.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="static/css/jquery.fancybox.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="static/css/owl.carousel.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="static/css/slit-slider.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="static/css/animate.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="static/css/main.css">
		<!-- Modernizer Script for old Browsers -->
		<script src="static/js/modernizr-2.6.2.min.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
	
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div> 
		</div>
	 	<!-- end preloader -->

        <!-- Fixed Navigation ==================================== -->
        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">

                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand" style="padding-bottom: 2px">
						<a href="/"><img src="https://i.imgur.com/Q2o9856.png" style="width:141px;height:48px;padding-bottom: 15px;padding-left: 3px" class="logo" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
					{% if request.session.role %}
						{% if request.session.role != 'anggota' %}
                        <li><a href="/laporan">Report List</a></li>
						{% endif %}
						{% if request.session.role == 'anggota' %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Transaction
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/transaksi">History</a></li>
								<li><a href="/transaksi/topUp">Top Up</a></li>
							</ul>
						</li>
						{% endif %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Rental
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/peminjaman">List of Rentals</a></li>
								{% if request.session.role == 'anggota' %}
								<li><a href="/peminjaman/create">Rent Now !</a></li>
								{% endif %}
							</ul>
						</li>
                        <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Voucher
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li><a href="/voucher">List of Vouchers</a></li>
							{% if request.session.role == 'admin' %}
							  <li><a href="/voucher/create">Create Voucher</a></li>
							{% endif %}
					        </ul>
					    </li>
					    <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Event
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
							  <li><a href="/acara">List of Events</a></li>
							{% if request.session.role == 'admin' %}
					          <li><a href="/acara/create">Create Event</a></li>
							{% endif %}
					        </ul>
					    </li>
					    <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Station
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li><a href="/stasiun">List of Stations</a></li>
							{% if request.session.role == 'admin' %}
					          <li><a href="/stasiun/^create">Create Station</a></li>
							{% endif %}
					        </ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Bike
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/bike">List of Bikes</a></li>
							{% if request.session.role == 'admin' %}
								<li><a href="/bike/^create">Create Bike</a></li>
							{% endif %}
							</ul>
						</li>
						{% if request.session.role != 'anggota' %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Assignment
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/penugasan">List of Assignments</a></li>
							{% if request.session.role == 'admin' %}
								<li><a href="/penugasan/create">Create Assignment</a></li>
							{% endif %}
							</ul>
						</li>
						{% endif %}	
						<li><a href="/otentikasi/logout/">Logout</a></li>
					{% else %}
						<li><a href="/otentikasi/">Login</a></li>
					{% endif %}
					</ul>
				</nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!-- End Fixed Navigation ==================================== -->
		
		<main class="site-content" role="main">
		
			<!-- Home Slider ==================================== -->
			
			<section id="home-slider" class="parallax">
				<div class="overlay">
					<div id="slider" class="sl-slider-wrapper">
						<div class="sl-slider">
							<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
								<div class="bg-img bg-img-1" style="filter:  brightness(50%)"></div>
									<div class="slide-caption">
										<div class="caption-content" >
										{% if request.session.role %}
											<h2 class="animated fadeInDown">WELCOME TO Y-BIKE, {{ request.session.user.2 }}</h2>
											<!-- <span class="animated fadeInDown">Clean and Professional one page Template</span> -->
										{% else %}
											<h2 class="animated fadeInDown">WELCOME TO Y-BIKE</h2>
											<a href="#register" class="btn btn-blue btn-effect">Join US</a>
											<a href="/otentikasi" class="btn btn-blue btn-effect">Login</a>
										{% endif %}
										</div>
									</div>
								</div>
						
							<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
								<div class="bg-img bg-img-2"></div>
									<div class="slide-caption">
										<div class="caption-content" >
										{% if request.session.role %}
											<h2 class="animated fadeInDown">WELCOME TO Y-BIKE, {{ request.session.user.2 }}</h2>
											<!-- <span class="animated fadeInDown">Clean and Professional one page Template</span> -->
										{% else %}
											<h2 class="animated fadeInDown">WELCOME TO Y-BIKE</h2>
											<a href="#register" class="btn btn-blue btn-effect">Join US</a>
											<a href="/otentikasi" class="btn btn-blue btn-effect">Login</a>
										{% endif %}
										</div>
									</div>
								</div>
						
							<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
								<div class="bg-img bg-img-3"></div>
									<div class="slide-caption">
										<div class="caption-content">
										{% if request.session.role %}
											<h2 class="animated fadeInDown">WELCOME TO Y-BIKE, {{ request.session.user.2 }}</h2>
											<!-- <span class="animated fadeInDown">Clean and Professional one page Template</span> -->
										{% else %}
											<h2 class="animated fadeInDown">WELCOME TO Y-BIKE</h2>
											<a href="#register" class="btn btn-blue btn-effect">Join US</a>
											<a href="/otentikasi" class="btn btn-blue btn-effect">Login</a>
										{% endif %}
										</div>
									</div>
								</div>
							</div><!-- /sl-slider -->
				
					<nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
						<a href="javascript:;" class="sl-prev">
							<i class="fa fa-angle-left fa-3x"></i>
						</a>
						<a href="javascript:;" class="sl-next">
							<i class="fa fa-angle-right fa-3x"></i>
						</a>
					</nav>
					
					<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
						<span class="nav-dot-current"></span>
						<span></span>
						<span></span>
					</nav>

				</div><!-- /slider-wrapper -->
				</div>
			</section>
			<!-- End Home SliderEnd ==================================== -->
				
			<!-- about section -->
			<section  style="background-color: #ffe838a2">
				<div class="container">
					<div class="row">
						<div class="welcome-block">
							<h1 style="color:black;text-align: center"><strong>Welcome To Y-Bike</strong></h1>		
							<br>
							<br>						
							<div class="message-body">
								<div class="container">
									<div class="row">
										<div class="col-md-4">
											<img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpsh-ex-ftnikkei-3937bb4%2Fimages%2F8%2F8%2F7%2F4%2F14694788-1-eng-GB%2FAP_18177179071081.jpg?source=nar-cms" width="300px" alt="member">
										</div>
										<div class="col-md-8">
											<h4 align="jusify" style="text-align:justify;">
												We are revolutionising the cycling industry Worldwide,
												delve into a world of professional cycle storage solutions and accessories
												for both the commercial sector and personal solutions. 
												Consumers can search and find bike share anywhere and sign-up for riding rewards.
												Cities, campuses, and property owners looking for bike share equipment and services can take advantage of a one stop shop for everything bike share.
												Vendors and operators can showcase products and promote their services, and brands can connect with system owners to reach millions of bike share users around the globe.
											</h4>
											<br>
											<center>
												<div class="w3-container">
													<p><button class="w3-button w3-black"><a href="/peminjaman/^create" class="button--style-red">Rent now !</a></button></p>
												</div>
											</center>
											
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- end about section -->
			
				
			<!-- Fitur section -->
			<section id="fitur">
				<div class="container">
					<div class="row">
						<div class="sec-title text-center">
							<h2 class="wow animated bounceInLeft">Service</h2>
							<p class="wow animated bounceInRight">The Key Features of our Job</p>
						</div>
						
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-briefcase fa-3x"></i>
								</div>
								<h3>Professional</h3>
								<p>The largest supplier of cycle parking in Jabodetabek, selling in to over 5 city. No one has more experience.</p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-pencil fa-3x"></i>
								</div>
								<h3>Design</h3>
								<p>Our In-House design team offer free site visits, CAD drawings and design solutions. Book a specialist to visit you today.</p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-gear fa-3x"></i>
								</div>
								<h3>Technology</h3>
								<p>Bike detection, cycle monitoring, remote security solutions, CCTV and access control systems. Creating the industry’s future.</p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
							<div class="service-item">
								<div class="service-icon">
									<i class="	fa fa-refresh fa-3x"></i>
								</div>
								<h3>Environmental</h3>
								<p>At the core of what we are about: Sustainability, circular products and recycled materials. We live our values.</p>							
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end Fitur section -->

			<hr>
				
			<!-- type section -->
			<section id="type">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>OUR BIKES</h2>
							<p>Y-Bike provides several choices types of bicycles that can be lent to our members</p>
						</div>				

						<ul class="project-wrapper wow animated fadeInUp">
							<li class="portfolio-item">
								<img src="https://www.wigglestatic.com/product-media/100634089/Blank-Icon-BMX-Bike-2019-Freestyle-BMX-Bikes-Rose-Gold-2019-BICON1920PNK.jpg" class="img-responsive" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
								<figcaption class="mask">
									<h3>BMX / Trick Bike</h3>
									<p>BMX stands for Bicycle Motor Cross, these single-speed bikes are raced.</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Araund The world" data-fancybox-group="works" href="https://www.wigglestatic.com/product-media/100634089/Blank-Icon-BMX-Bike-2019-Freestyle-BMX-Bikes-Rose-Gold-2019-BICON1920PNK.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="https://i0.wp.com/thebicycleescape.com/wp-content/uploads/2015/08/beach-bike.jpg?resize=300%2C210&ssl=1" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									<h3>Kids' Bike</h3>
									<p>A child’s bike is a bicycle that has been designed specifically for youth.</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Wall street" href="static/img/slider/banner.jpg" data-fancybox-group="works" ><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="https://cdn.shopify.com/s/files/1/0021/5701/9254/products/BBHAC06_B14-MATTE-OBSIDIAN_2048x.jpg?v=1533664261" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									<h3>Commuting Bike</h3>
									<p>Simply put, a commuting bike is any bicycle used as general transportation.</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Behind The world" data-fancybox-group="works" href="static/img/portfolio/item3.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="https://images-na.ssl-images-amazon.com/images/I/815XvAcY2dL.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.">
								<figcaption class="mask">
									<h3>Fixie Biket</h3>
									<p>A fixed-gear bicycle is a bicycle that has a drivetrain with no freewheel mechanism.</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Wall street 4" data-fancybox-group="works" href="static/img/portfolio/item4.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/2/2018/01/129511-510562_1_Supersize.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									<h3>Cyclocross Bike</h3>
									<p>A cyclocross bike has road bike style drop handlebars but with wider knobby tires.  </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Wall street 5" data-fancybox-group="works" href="static/img/portfolio/item5.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="https://i5.walmartimages.com/asr/11fde276-64f7-4f8f-a9d2-666553758b17_2.ab1ac7ea91d42427076f1d6c9237b96b.jpeg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									<h3>Tandem Bike</h3>
									<p>A tandem lets two riders of different abilities cycle together.</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Wall street 6" data-fancybox-group="works" href="static/img/portfolio/item6.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<!-- end type section -->
				
			<!-- Testimonial section -->
			<section id="testimonials" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">
							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>What people say</h2>
							</div>
								
							<div id="testimonial" class=" wow animated fadeInUp">
								<div class="testimonial-item text-center">
									<img src="static/img/author.jpg" alt="Our Clients">
									<div class="clearfix">
										<span>Mike</span>
										<p>"After using Y-Bike for the first time I was very impresssed with their professional way of working,
											the installation from the start to completion was seamless."
										</p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<img src="https://www.scripturaengage.com/wp-content/uploads/2017/05/Profile-Picture-Toon-Wouters-circle-ScripturaEngage.png" alt="Our Clients">
									<div class="clearfix">
										<span>Jason</span>
										<p>"The pods are used regularly by both male and female cyclists who always speak positively
											about their function.
											They also provide a great visual message about sustainable travel within our organisation and are regular talking point amount 
											the local community."
										</p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<img src="static/img/member-1.jpg" alt="Our Clients">
									<div class="clearfix">
										<span>Jimmy</span>
										<p>Amazing! worth to try</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end Testimonial section -->
				
			<!-- Price section
			<section id="price">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Price</h2>
							<p>Our price for your company</p>
						</div>
						
						<div class="col-md-4 wow animated fadeInUp">
							<div class="price-table text-center">
								<span>Silver</span>
								<div class="value">
									<span>$</span>
									<span>24,35</span><br>
									<span>month</span>
								</div>
								<ul>
									<li>No Bonus Points</li>
									<li>No Bonus Points</li>
									<li>No Bonus Points</li>
									<li>No Bonus Points</li>
									<li><a href="#">sign up</a></li>
								</ul>
							</div>
						</div>
						
						<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
							<div class="price-table featured text-center">
								<span>Gold</span>
								<div class="value">
									<span>$</span>
									<span>50,00</span><br>
									<span>month</span>
								</div>
								<ul>
									<li>Free Trial</li>
									<li>Free Trial</li>
									<li>Free Trial</li>
									<li>Free Trial</li>
									<li><a href="#">sign up</a></li>
								</ul>
							</div>
						</div>
						
						<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s">
							<div class="price-table text-center">
								<span>Diamond</span>
								<div class="value">
									<span>$</span>
									<span>123,12</span><br>
									<span>month</span>
								</div>
								<ul>
									<li>All Bonus Points</li>
									<li>All Bonus Points</li>
									<li>All Bonus Points</li>
									<li>All Bonus Points</li>
									<li><a href="#">sign up</a></li>
								</ul>
							</div>
						</div>
		
					</div>
				</div>
			</section> -->
			<!-- end Price section -->

				
			<!-- Social section -->
			<section id="social" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">
						
							<div class="sec-title text-center white wow animated fadeInDown">
								<h2 style="color:white">FOLLOW US</h2>
								<p>Follow us to get our news and more discount</p>
							</div>
							
							<ul class="social-button">
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://twitter.com/"><i class="fa fa-twitter fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://instagram.com/"><i class="fa fa-instagram fa-2x"></i></a></li>							
							</ul>
							
						</div>
					</div>
				</div>
			</section>
			<!-- end Social section -->
				
			{% if not request.session.role %}
			<!-- Register section -->
			<section id="register" >
				<div class="container">
					<div class="row">
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Join Us</h2>
							<p>Join us as our member, worker, or even our new admin!</p>
						</div>
						
						<div class="contact-form wow animated fadeInLeft" style="margin-bottom:70px">
							
							<br>
							<div class="text-center">
								<h3>Register as :</h3>
								<br>
								<a class="btn btn-blue btn-effect" href = "adminRegis/">Admin</a>
								<a class="btn btn-blue btn-effect" style="margin:0 75px" href = "anggotaRegis/">Anggota</a>
								<a class="btn btn-blue btn-effect" href = "petugasRegis/">Petugas</a>
							</div>
						
						</div>
			
					</div>
				</div>
			</section>
			<!-- end Register section -->
			{% endif %}
			
			<section id="google-map">
				<div id="map-canvas" class="wow animated fadeInUp"></div>
			</section>
		
		</main> 
		<!-- end Main Section -->
		
		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">
						
						<div class="footer-social">
							<ul>
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-skype fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i class="fa fa-dribbble fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
							</ul>
						</div>
						
						<p>Copyright &copy; Design and Developed By Kelompok 6 Basdat-B</p>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="static/js/jquery-1.11.1.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script src="static/js/jquery.singlePageNav.min.js"></script>
		<script src="static/js/jquery.fancybox.pack.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="static/js/owl.carousel.min.js"></script>
		<script src="static/js/jquery.easing.min.js"></script>
		<script src="static/js/jquery.slitslider.js"></script>
		<script src="static/js/jquery.ba-cond.min.js"></script>
		<script src="static/js/wow.min.js"></script>
		<script src="static/js/main.js"></script>

    </body>
</html>
