
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Y-Bike</title>		
        <meta name="description" content="Y-Bike">
		<link rel="shortcut icon" type="image/png" href="https://i.imgur.com/6Aeiu5P.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/static/css/jquery.fancybox.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/static/css/owl.carousel.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/static/css/slit-slider.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/static/css/animate.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="/static/css/main.css">
		<!-- Modernizer Script for old Browsers -->
		<script src="/static/js/modernizr-2.6.2.min.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
	
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div> 
		</div>
	 	<!-- end preloader -->

        <!-- Fixed Navigation ==================================== -->
        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">

                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand" style="padding-bottom: 2px">
						<a href="/"><img src="https://i.imgur.com/Q2o9856.png" style="width:141px;height:48px;padding-bottom: 15px;padding-left: 3px" class="logo" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="/otentikasi/">Login</a></li>
					</ul>
				</nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!-- End Fixed Navigation ==================================== -->
		
		<main class="site-content" role="main">
				
			<!-- Register section -->
			<section id="register" >
				<div class="container">
					<div class="row">
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Join Us</h2>
							<p>Join us as our member, worker, or even our new admin!</p>
						</div>
						
						<div class="contact-form wow animated fadeInLeft" style="margin-bottom:70px">
							<form method="POST">
								<p style = "color:red"> {{invalid_reg}}</p>
								{% csrf_token %}
								{% for field in formRegis %}
									{% if field.is_hidden %}
										<!-- hide -->
									{% else %}
									<div class="input-field">
										{{field.label_tag}}{{field}}
										{{field.errors}}
									</div>
									{% endif %}
								{% endfor %}
								<br>
								<div class="text-center">
									<br>
									<button type="submit" id="submit" class="btn btn-blue btn-effect">Register</button>
								</div>
							</form>
						</div>
			
					</div>
				</div>
			</section>
			<!-- end Register section -->
				
			<section id="google-map">
				<div id="map-canvas" class="wow animated fadeInUp"></div>
			</section>
		
		</main> 
		<!-- end Main Section -->
		
		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">
						
						<div class="footer-social">
							<ul>
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-skype fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i class="fa fa-dribbble fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
							</ul>
						</div>
						
						<p>Copyright &copy; Design and Developed By Kelompok 6 Basdat-B</p>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="/static/js/jquery-1.11.1.js"></script>
		
		<script src="/static/js/bootstrap.min.js"></script>
		
		<script src="/static/js/jquery.singlePageNav.min.js"></script>
		
		<script src="/static/js/jquery.fancybox.pack.js"></script>
		
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		
		<script src="/static/js/owl.carousel.min.js"></script>
		
		<script src="/static/js/jquery.easing.min.js"></script>
		
		<script src="/static/js/jquery.slitslider.js"></script>
		<script src="/static/js/jquery.ba-cond.min.js"></script>
		
		<script src="/static/js/wow.min.js"></script>
		
		<script src="/static/js/main.js"></script>

    </body>
</html>
