{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Y-Bike</title>		
        <meta name="description" content="Y-BIKE">
		<link rel="shortcut icon" type="image/png" href="https://i.imgur.com/6Aeiu5P.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- CSS ================================================== -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/slit-slider.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/personal.css' %}">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>

    </head>
	
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div> 
		</div>
		<!-- end preloader -->

        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">

                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand" style="padding-bottom: 2px">
						<a href="/"><img src="https://i.imgur.com/Q2o9856.png" style="width:141px;height:48px;padding-bottom: 15px;padding-left: 3px" class="logo" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
						<ul id="nav" class="nav navbar-nav">
						{% if request.session.role %}
							{% if request.session.role != 'anggota' %}
							<li><a href="/laporan">Report List</a></li>
							{% endif %}
							{% if request.session.role == 'anggota' %}
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Transaction
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/transaksi">History</a></li>
									<li><a href="/transaksi/topUp">Top Up</a></li>
								</ul>
							</li>
							{% endif %}
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Rental
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/peminjaman">List of Rentals</a></li>
									{% if request.session.role == 'anggota' %}
									<li><a href="/peminjaman/create">Rent Now !</a></li>
									{% endif %}
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Voucher
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
								  <li><a href="/voucher">List of Vouchers</a></li>
								{% if request.session.role == 'admin' %}
								  <li><a href="/voucher/create">Create Voucher</a></li>
								{% endif %}
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Event
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
								  <li><a href="/acara">List of Events</a></li>
								{% if request.session.role == 'admin' %}
								  <li><a href="/acara/create">Create Event</a></li>
								{% endif %}
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Station
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
								  <li><a href="/stasiun">List of Stations</a></li>
								{% if request.session.role == 'admin' %}
								  <li><a href="/stasiun/^create">Create Station</a></li>
								{% endif %}
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Bike
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/bike">List of Bikes</a></li>
								{% if request.session.role == 'admin' %}
									<li><a href="/bike/^create">Create Bike</a></li>
								{% endif %}
								</ul>
							</li>
							{% if request.session.role != 'anggota' %}
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Assignment
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/penugasan">List of Assignments</a></li>
								{% if request.session.role == 'admin' %}
									<li><a href="/penugasan/create">Create Assignment</a></li>
								{% endif %}
								</ul>
							</li>
							{% endif %}	
							<li><a href="/otentikasi/logout/">Logout</a></li>
						{% else %}
							<li><a href="/otentikasi/">Login</a></li>
						{% endif %}
						</ul>
					</nav>
					<!-- /main nav -->
				
            </div>
        </header>
        <!-- End Fixed Navigation ==================================== -->
		<br>
		<br>
		<br>
		<main class="site-content" role="main">
			<section id="contact" >
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="roundedrec">
							<div class="insiderec">
								<div class="row">
									<div class="col-sm-12 refresh">
										<h3 class="judul gantijudul" style="text-align:center; color: black"><strong>List of Rentals</strong></h3>
										<br>
										<input id="myInput" type="text" placeholder="Search here">
										<br>
										<div class="table-responsive" id="myTable">
											<table id="demo" class="table" id="myTable">
												{% if peminjaman_objects %}
													<thead>
														<tr class="text-center">
															<th scope="col" class="align-middle" style="text-align: center">Nomor Kartu Anggota</th>
															<th scope="col" class="align-middle" style="text-align: center">No. Sepeda</th>
															<th scope="col" class="align-middle" style="text-align: center">ID Stasiun</th>
															<th scope="col" class="align-middle" style="text-align: center">Waktu Pinjam</th>
															<th scope="col" class="align-middle" style="text-align: center">Waktu Kembali</th>
															<th scope="col" class="align-middle" style="text-align: center">Biaya</th>
															<th scope="col" class="align-middle" style="text-align: center">Denda</th>
															<th scope="col" class="align-middle" style="text-align: center">Action</th>
														</tr>
													</thead>
													{% for peminjaman in peminjaman_objects %}
													<tbody>
														<tr class="text-center">
															<td scope="row">{{ peminjaman.0 }}</td>
															<td scope="row">{{ peminjaman.5 }}</td>
															<td scope="row">{{ peminjaman.6 }}</td>
															<td scope="row">{{ peminjaman.1 }}</td>
															{% if peminjaman.2 != None %}
																<td scope="row">{{ peminjaman.2 }}</td>
															{% else %}
																<td scope="row">Belum dikembalikan</td>
															{% endif %}
															<td scope="row">{{ peminjaman.3 }}</td>
															<td scope="row">{{ peminjaman.4 }}</td>
															{% if peminjaman.2 != None %}
															<td scope="row"></td>
															{% else %}
															
															<div class="w3-container">
																<td scope="row"><p><button class="w3-button w3-amber"><a href="update/{{ peminjaman.0 }}" class="button--style-red">Kembalikan</a></button></p></td>
															</div>
															{% endif %}
														</tr>
													</tbody>
													{% endfor %}
												{% else %}
													<h5>No peminjaman yet</h5>
												{% endif %}
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			

			<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
				<span class="nav-dot-current"></span>
				<span></span>
				<span></span>
			</nav>

		
			</section>
		
		</main>
		
		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">
						
						<div class="footer-social">
							<ul>
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-skype fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i class="fa fa-dribbble fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
							</ul>
						</div>
						
						<p>Copyright &copy; Design and Developed By Kelompok 6 Basdat-B</p>
					</div>
				</div>
			</div>
		</footer>
		
		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
		<!-- Twitter Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- Single Page Nav -->
        <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
		<!-- jquery.fancybox.pack -->
        <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
		<!-- Google Map API -->
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<!-- Owl Carousel -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- jquery easing -->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <!-- Fullscreen slider -->
        <script src="{% static 'js/jquery.slitslider.js' %}"></script>
        <script src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
		<!-- onscroll animation -->
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Custom Functions -->
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/baffle.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/scrollreveal.js' %}" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script>
			window.sr = ScrollReveal();
			sr.reveal('.roundedrec', { duration: 1200 });
			sr.reveal('.isi', { duration: 1000 });
		</script>

		<script>
		$(document).ready(function(){
		  $("#myInput").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#myTable tr").filter(function() {
			  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		  });
		});
		</script>
	</body>
</html>
