body, html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: black;
}



.spacing li a {
    padding-right: 20px !important;
}

#home {
    height: 100%;
    max-height: calc(100vh - 60px);
    overflow: hidden;
}

.view {
    height:100%;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.landingname {
    color: white;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 15px;
    font-weight: bold;
    z-index: 88;
}

.landingbio {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: -6px;
    z-index: 88;
}

.roundasset {
    width: 350px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.title {
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.avatar{
    border-radius: 50%;
    width: 230px;
    margin-bottom: 9px;
}
/* 
.img-fluid {
    max-width: 100%;
    height: auto;
} */

.icon{
    width:14%;
    margin: 2px;
}

.row.content {
    height: auto;
    background: #f9f9f9;
}


.img-overlay {
    margin-top:-37%;
}

.name {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 22px;
}

.bio {
    margin-bottom: 22px;
    font-size: 14px
}

.roundedrec {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-top:17px;
    margin-bottom:17px;

}

.insiderec {
    padding: 30px;
}

.insiderec hr {
    width: 100%;
}

.judul {
    color: #999999;
    text-align: left;
    padding-bottom: 5px;
}

.isi {
    color: #666666;
    font-size: 16px;
}

.link {
    color: #FA1466;
    text-decoration: underline;
}

.link:hover {
    color: #287016;
}

.highlight {
    color: #FA1466;
}

.calloc1 {
    font-size: 13px;
    color: #999999;
    text-align: left;
}

.calloc2 {
    font-size: 13px;
    color: #666666;
    text-align: left;
}

.edu {
    padding-top: 14px;
}

.exp1 {
    margin-top: 37px;
    padding-bottom: 25px;
}

.exp2 {
    padding: 25px;
}

.exp3 {
    padding: 15px;
}

input[type=text], input[type=date], input[type=email], input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #000000;
    color: white;
    margin-top: 13px;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #000000;
}

.formtext {
    color: #000000;
}

.message img {
    width: 100%;
}


@media(max-width:700px){
    .landing {
        vertical-align: middle;
        margin: auto 0;
        height: 100%;
    }

    .landingname {
        font-size: 40px;
    }

    .landingbio {
        font-size: 16px;
    }

    .roundasset {
        width: 250px;
        bottom: -70px;
    }

    .avatar{
        margin-top:30px;
        width: 210px;
    }

    .icon{
        width:12%;
        margin: 2px;
    }

    .title {
        font-size: 40px;
    }

    .expicon {
        padding-bottom: 10px;
    }

    .expicon2 {
        padding-top: 14px;
        padding-bottom: 10px;
    }

    .edu {
        padding-top: 0px;
    }

    .skill img {
        width: 39% !important;
        margin: 12px;
    }

    .lbhbesar img {
        width: 52% !important;
        margin: 12px;
    }

    .lbhkecil img {
        width: 28% !important;
        margin: 12px;
    }

    footer {
        visibility: hidden;
    }
}