{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
    	<!-- meta character set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Y-Bike</title>		
		<!-- Meta Description -->
        <meta name="description" content="Blue One Page Creative HTML5 Template">
		<link rel="shortcut icon" type="image/png" href="https://i.imgur.com/6Aeiu5P.png"/>
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- CSS ================================================== -->
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/slit-slider.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/personal.css' %}">
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
		
		<!-- Modernizer Script for old Browsers -->
        <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>

    </head>
	
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div> 
		</div>
		<!-- end preloader -->

        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">

                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand" style="padding-bottom: 2px">
						<a href="/"><img src="https://i.imgur.com/Q2o9856.png" style="width:141px;height:48px;padding-bottom: 15px;padding-left: 3px" class="logo" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="/laporan">Report List</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Transaction
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/transaksi">History</a></li>
								<li><a href="/transaksi/topUp">Top Up</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Rental
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/peminjaman">List of Rentals</a></li>
								<li><a href="/peminjaman/^create">Rent Now !</a></li>
							</ul>
						</li>
                        <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Voucher
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li><a href="/voucher">List of Vouchers</a></li>
							  <li><a href="/voucher/^create">Create Voucher</a></li>
					        </ul>
					    </li>
					    <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Event
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
							  <li><a href="/acara">List of Events</a></li>
					          <li><a href="/acara/create">Create Event</a></li>
					        </ul>
					    </li>
					    <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Station
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li><a href="/stasiun">List of Stations</a></li>
					          <li><a href="/stasiun/^create">Crete Station</a></li>
					        </ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Bike
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/bike">List of Bikes</a></li>
								<li><a href="/bike/^create">Create Bike</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Assignment
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/penugasan">List of Assignments</a></li>
								<li><a href="/penugasan/create">Create Assignment</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!-- End Fixed Navigation ==================================== -->
		<br>
		<br>
		<br>
		<main class="site-content" role="main">
			<section id="contact" >
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
					</div>
					<div class="col-sm-12">
						<div class="roundedrec">
							<div class="insiderec">
								<div class="row">
									<div class="col-sm-12 refresh">
										<center><p class="judul">DAFTAR ACARA</p></center>
										<div class="table-responsive">
											<table id="demo" class="table">
												{% if acara_objects %}
													<thead>	
														<tr class="text-center">
															<th scope="col" class="align-middle" id="tulisandiform">ID</th>
															<th scope="col" class="align-middle" id="tulisandiform">Judul</th>
															<th scope="col" class="align-middle" id="tulisandiform">Deskripsi</th>
															<th scope="col" class="align-middle" id="tulisandiform">Gratis</th>
															<th scope="col" class="align-middle" id="tulisandiform">Tanggal mulai</th>
															<th scope="col" class="align-middle" id="tulisandiform">Tanggal selesai</th>
															<th scope="col" class="align-middle" id="tulisandiform">Stasiun</th>
															<th scope="col" class="align-middle" id="tulisandiform">Action [admin]</th>
														</tr>
													</thead>
													{% for acara in acara_objects %}
													<tbody>
														<tr class="text">
															<td scope="row">{{ acara.0 }}</td>
															<td scope="row">{{ acara.1 }}</td>
															<td scope="row">{{ acara.2 }}</td>
															{% if acara.5 == False %}
																<td scope="row">Tidak</td>
															{% elif acara.5 == True %}
																<td scope="row">Ya</td>
															{% endif %}
															<td scope="row">{{ acara.3 }}</td> 
															<td scope="row">{{ acara.4 }}</td>
															<td scope="row">{{ acara.6 }}</td>
															<div class="w3-container">
																<td scope="row"><p><button class="w3-button w3-amber">
																	<a href="update/" class="button--style-red">Update</a></button></p>
																</td>
															</div>
															<div class="w3-container">
																<td scope="row">
																	<p>
																		<button class="w3-button w3-amber">
																	<a href="delete/{{ acara.0 }}" class="button--style-red">Delete</a>
																	</button>
																	</p>
																</td>
															</div>
														</tr>
													</tbody>
													{% endfor %}
												{% else %}
													<h5>Belum ada acara</h5>
													
												{% endif %}
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
				<span class="nav-dot-current"></span>
				<span></span>
				<span></span>
			</nav>

				</section>
		
		</main>
		
		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">
						
						<div class="footer-social">
							<ul>
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-skype fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i class="fa fa-dribbble fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
							</ul>
						</div>
						
						<p>Copyright &copy; Design and Developed By Kelompok 6 Basdat-B</p>
					</div>
				</div>
			</div>
		</footer>

		

<div class="container">
  <h2>Modal Example</h2>
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Delete
  </button>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>

		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
		<!-- Twitter Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- Single Page Nav -->
        <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
		<!-- jquery.fancybox.pack -->
        <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
		<!-- Google Map API -->
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<!-- Owl Carousel -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- jquery easing -->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <!-- Fullscreen slider -->
        <script src="{% static 'js/jquery.slitslider.js' %}"></script>
        <script src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
		<!-- onscroll animation -->
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Custom Functions -->
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/baffle.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/scrollreveal.js' %}" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<script>
			window.sr = ScrollReveal();
			sr.reveal('.roundedrec', { duration: 1200 });
			sr.reveal('.isi', { duration: 1000 });
		</script>

 		  <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
      // You
    });
  });
  </script>
	</body>
</html>