{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
    	<!-- meta character set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Y-Bike</title>		
		<!-- Meta Description -->
        <meta name="description" content="Blue One Page Creative HTML5 Template">
		<link rel="shortcut icon" type="image/png" href="https://i.imgur.com/6Aeiu5P.png"/>
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- CSS ================================================== -->
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/slit-slider.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/personal.css' %}">
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
		
		<!-- Modernizer Script for old Browsers -->
        <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>

    </head>
	
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div> 
		</div>
		<!-- end preloader -->

		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
	
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Hapus Sepeda</h4>
						</div>
						<div class="modal-body">
							<p id = 'textModalBody'></p>
						</div>
						<div class="modal-footer">
							<div id = 'buttonDelete'>
							</div>
						</div>
					</div>
				</div>
			</div>

        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">

                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand" style="padding-bottom: 2px">
						<a href="/"><img src="https://i.imgur.com/Q2o9856.png" style="width:141px;height:48px;padding-bottom: 15px;padding-left: 3px" class="logo" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="/laporan">Report List</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Transaction
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/transaksi">History</a></li>
								<li><a href="/transaksi/topUp">Top Up</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Rental
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/peminjaman">List of Rentals</a></li>
								<li><a href="/peminjaman/create">Rent Now !</a></li>
							</ul>
						</li>
                        <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Voucher
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li><a href="/voucher">List of Vouchers</a></li>
							  <li><a href="/voucher/create">Create Voucher</a></li>
					        </ul>
					    </li>
					    <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Event
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
							  <li><a href="/acara">List of Events</a></li>
					          <li><a href="/acara/create">Create Event</a></li>
					        </ul>
					    </li>
					    <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Station
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li><a href="/stasiun">List of Stations</a></li>
					          <li><a href="/stasiun/^create">Crete Station</a></li>
					        </ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Bike
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/bike">List of Bikes</a></li>
								<li><a href="/bike/^create">Create Bike</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Assignment
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/penugasan">List of Assignments</a></li>
								<li><a href="/penugasan/create">Create Assignment</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!-- End Fixed Navigation ==================================== -->
		<br>
		<br>
		<br>
		<main class="site-content" role="main">
			<section id="contact" >
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						
					</div>
					<div class="col-sm-12">
						<div class="roundedrec">
							<div class="insiderec">
								<div class="row">
									<div class="col-sm-12 refresh">
										<center><p class="judul">DAFTAR STASIUN</p></center>
										<div class="table-responsive">
											<table id="demo" class="table">
													<thead>	
														<tr class="text-center">
															<th scope="col" class="align-middle" id="tulisandiform">Id Stasiun</th>
															<th scope="col" class="align-middle" id="tulisandiform">Alamat</th>
															<th scope="col" class="align-middle" id="tulisandiform">Latitude</th>
															<th scope="col" class="align-middle" id="tulisandiform">Longitude</th>
															<th scope="col" class="align-middle" id="tulisandiform">Nama</th>
															<th scope="col" class="align-middle" id="tulisandiform">Action</th>
														</tr>
													</thead>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
				<span class="nav-dot-current"></span>
				<span></span>
				<span></span>
			</nav>

				</section>
		
		</main>
		
		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">
						
						<div class="footer-social">
							<ul>
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-skype fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i class="fa fa-dribbble fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
							</ul>
						</div>
						
						<p>Copyright &copy; Design and Developed By Kelompok 6 Basdat-B</p>
					</div>
				</div>
			</div>
		</footer>
		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
		<!-- Single Page Nav -->
        <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
		<!-- jquery.fancybox.pack -->
        <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
		<!-- Google Map API -->
		<script src="http://maps.google.com/mzaps/api/js?sensor=false"></script>
		<!-- Owl Carousel -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- jquery easing -->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <!-- Fullscreen slider -->
        <script src="{% static 'js/jquery.slitslider.js' %}"></script>
        <script src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
		<!-- onscroll animation -->
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Custom Functions -->
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/baffle.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/scrollreveal.js' %}" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Twitter Bootstrap -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		
		<script>
			window.sr = ScrollReveal();
			sr.reveal('.roundedrec', { duration: 1200 });
			sr.reveal('.isi', { duration: 1000 });
		</script>

 		<script>
  		$(function() {
    		$( ".datepicker" ).datepicker({
      		changeMonth: true,
      		changeYear: true,
      		yearRange: "1900:2012",
      		// You can put more options here.

    		});
  		});
		</script>

		<script>
		function cetakModal(id, nama) {
			$('#myModal').modal('show');
			$('#textModalBody').html('apakah anda ingin menghapus Stasiun '+id+' - '+nama+'?');
			$('#buttonDelete').html('<button class="w3-button w3-amber"><a href="delete/'+id+'" class="button--style-red">ya</a></button>');
		}

		$(document).ready(function() {
    			var table = $('#demo').DataTable( {
					"ajax": "%5Elist",
					"columnDefs": [ {
					"targets": -1,
					"data": null,
					"defaultContent": '<button class="btn btn-info">Update</button>' + '&nbsp;&nbsp' +
					'<button class="btn btn-danger"> Delete </button>'
    				} ]
				});

				let id = 0;

				$('#demo tbody').on('click', 'button', function (){
    				let data = table.row($(this).parents('tr')).data();
    				let class_name = $(this).attr('class');
					console.log(data);
					console.log(class_name);
					if (class_name == 'btn btn-danger') {
						cetakModal(data[0], data[1]);
					} else {
						$(location).attr('href', 'update/?id='+data[0]+'&nama='+data[4]+'&alamat='+data[1]);
					}
				});
			});
	</script>
		  

	</body>
</html>