{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Y-Bike</title>		
        <meta name="description" content="Y-BIKE">
		<link rel="shortcut icon" type="image/png" href="https://i.imgur.com/6Aeiu5P.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/slit-slider.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/personal.css' %}">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>

    </head>
	
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div> 
		</div>
		<!-- end preloader -->

		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Hapus Voucher</h4>
					</div>
					<div class="modal-body">
						<p id = 'textModalBody'></p>
					</div>
					<div class="modal-footer">
						<div id = 'buttonDelete'>
						</div>
					</div>
				</div>
			</div>
		</div>

        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">

                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand" style="padding-bottom: 2px">
						<a href="/"><img src="https://i.imgur.com/Q2o9856.png" style="width:141px;height:48px;padding-bottom: 15px;padding-left: 3px" class="logo" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
						<ul id="nav" class="nav navbar-nav">
						{% if request.session.role %}
							{% if request.session.role != 'anggota' %}
							<li><a href="/laporan">Report List</a></li>
							{% endif %}
							{% if request.session.role == 'anggota' %}
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Transaction
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/transaksi">History</a></li>
									<li><a href="/transaksi/topUp">Top Up</a></li>
								</ul>
							</li>
							{% endif %}
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Rental
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/peminjaman">List of Rentals</a></li>
									{% if request.session.role == 'anggota' %}
									<li><a href="/peminjaman/create">Rent Now !</a></li>
									{% endif %}
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Voucher
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
								  <li><a href="/voucher">List of Vouchers</a></li>
								{% if request.session.role == 'admin' %}
								  <li><a href="/voucher/create">Create Voucher</a></li>
								{% endif %}
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Event
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
								  <li><a href="/acara">List of Events</a></li>
								{% if request.session.role == 'admin' %}
								  <li><a href="/acara/create">Create Event</a></li>
								{% endif %}
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Station
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
								  <li><a href="/stasiun">List of Stations</a></li>
								{% if request.session.role == 'admin' %}
								  <li><a href="/stasiun/^create">Create Station</a></li>
								{% endif %}
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Bike
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/bike">List of Bikes</a></li>
								{% if request.session.role == 'admin' %}
									<li><a href="/bike/^create">Create Bike</a></li>
								{% endif %}
								</ul>
							</li>
							{% if request.session.role != 'anggota' %}
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Assignment
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/penugasan">List of Assignments</a></li>
								{% if request.session.role == 'admin' %}
									<li><a href="/penugasan/create">Create Assignment</a></li>
								{% endif %}
								</ul>
							</li>
							{% endif %}	
							<li><a href="/otentikasi/logout/">Logout</a></li>
						{% else %}
							<li><a href="/otentikasi/">Login</a></li>
						{% endif %}
						</ul>
					</nav>
					<!-- /main nav -->
            </div>
        </header>
		<!-- End Fixed Navigation ==================================== -->
		
		<br>
		<br>
		<br>
		<main class="site-content" role="main">
			<section id="contact" >
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="roundedrec">
							<div class="insiderec">
								<div class="row">
									<div class="col-sm-12 refresh">
										<h3 class="judul gantijudul" style="text-align:center; color: black"><strong>List of Voucher</strong></h3>
										<br>
										<input id="myInput" type="text" placeholder="Search here">
										<br>
										<div class="table-responsive" id="myTable">
											<table id="demo" class="table" id="myTable">
												{% if voucher_objects %}
													<thead>
														<tr class="text-center">
															<th scope="col" class="align-middle" style="text-align: center">Id Voucher</th>
															<th scope="col" class="align-middle" style="text-align: center">Nama</th>
															<th scope="col" class="align-middle" style="text-align: center">Kategori</th>
															<th scope="col" class="align-middle" style="text-align: center">Nilai Poin</th>
															<th scope="col" class="align-middle" style="text-align: center">Deskripsi</th>
															<th scope="col" class="align-middle" style="text-align: center">No Kartu Anggota</th>
															{% if request.session.role == 'admin' %}
																<th scope="col" class="align-middle" style="text-align: center">Update</th>
																<th scope="col" class="align-middle" style="text-align: center">Delete</th>
															{% endif %}
														</tr>
													</thead>
													{% for voucher in voucher_objects %}
													<tbody>
														<tr class="text-center">
															<td scope="row">{{ voucher.0 }}</td>
															<td scope="row">{{ voucher.1 }}</td>
															<td scope="row">{{ voucher.2 }}</td>
															<td scope="row">{{ voucher.3 }}</td>
															<td scope="row">{{ voucher.4 }}</td>
															<td scope="row">{{ voucher.5 }}</td>
															{% if request.session.role == 'admin' %}
																<div class="w3-container">
																	<td scope="row"><p><button class="w3-button w3-amber">
																		<a href="update/{{ voucher.0 }}" class="button--style-red">Update</a></button></p>
																	</td>
																</div>
																
																<div class="w3-container">
																	<td scope="row">
																		<p>
																			<button onclick=cetakModal({{voucher.0}}) class="w3-button w3-amber"><a class="button--style-red">Delete</a></button>
																		</p>
																	</td>
																</div>
															{% endif %}
														</tr>
													</tbody>
													{% endfor %}
												{% else %}
													<h5>No voucher yet</h5>
												{% endif %}
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</section>
		</main>
		
		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">
						<div class="footer-social">
							<ul>
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-skype fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i class="fa fa-dribbble fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
							</ul>
						</div>
						<p>Copyright &copy; Design and Developed By Kelompok 6 Basdat-B</p>
					</div>
				</div>
			</div>
		</footer>
		
		<!-- JavaScript ================================================== -->
		<script src="{% static 'js/jquery-1.11.1.js' %}"></script>
		<script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
		<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.easing.min.js' %}"></script>
		<script src="{% static 'js/jquery.slitslider.js' %}"></script>
		<script src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
		<script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/baffle.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/scrollreveal.js' %}" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script>
			window.sr = ScrollReveal();
			sr.reveal('.roundedrec', { duration: 1200 });
			sr.reveal('.isi', { duration: 1000 });
		</script>

		<script>
		function cetakModal(id) {
			console.log("MASUK METHOD");
			$('#myModal').modal('show');
			console.log("LEWAT MY MODAL SHOW");
			$('#textModalBody').html('Apakah anda ingin menghapus Voucher '+id+'?');
			$('#buttonDelete').html('<button class="w3-button w3-amber"><a href="delete/'+id+'" class="button--style-red">Ya</a></button>');
		}
		
		</script>
		<script>
			$(document).ready(function(){
			$("#myInput").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("#myTable tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
			});
		</script>
	</body>
</html>
