{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
    	<!-- meta character set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Y-Bike</title>		
		<!-- Meta Description -->
        <meta name="description" content="Blue One Page Creative HTML5 Template">
		<link rel="shortcut icon" type="image/png" href="https://i.imgur.com/6Aeiu5P.png"/>
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- CSS ================================================== -->
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/slit-slider.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		 <link rel="stylesheet" type="text/css" href="{% static 'css/personal.css' %}">
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<!-- Modernizer Script for old Browsers -->
        <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>

    </head>
	
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div> 
		</div>
		<!-- end preloader -->

        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">

                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand" style="padding-bottom: 2px">
						<a href="/"><img src="https://i.imgur.com/Q2o9856.png" style="width:141px;height:48px;padding-bottom: 15px;padding-left: 3px" class="logo" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				        <!-- Fixed Navigation ==================================== -->
        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">

                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand" style="padding-bottom: 2px">
						<a href="/"><img src="https://i.imgur.com/Q2o9856.png" style="width:141px;height:48px;padding-bottom: 15px;padding-left: 3px" class="logo" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
					{% if request.session.role %}
						{% if request.session.role != 'anggota' %}
                        <li><a href="/laporan">Report List</a></li>
						{% endif %}
						{% if request.session.role == 'anggota' %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Transaction
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/transaksi">History</a></li>
								<li><a href="/transaksi/topUp">Top Up</a></li>
							</ul>
						</li>
						{% endif %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Rental
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/peminjaman">List of Rentals</a></li>
								{% if request.session.role == 'anggota' %}
								<li><a href="/peminjaman/create">Rent Now !</a></li>
								{% endif %}
							</ul>
						</li>
                        <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Voucher
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li><a href="/voucher">List of Vouchers</a></li>
							{% if request.session.role == 'admin' %}
							  <li><a href="/voucher/create">Create Voucher</a></li>
							{% endif %}
					        </ul>
					    </li>
					    <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Event
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
							  <li><a href="/acara">List of Events</a></li>
							{% if request.session.role == 'admin' %}
					          <li><a href="/acara/create">Create Event</a></li>
							{% endif %}
					        </ul>
					    </li>
					    <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Station
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li><a href="/stasiun">List of Stations</a></li>
							{% if request.session.role == 'admin' %}
					          <li><a href="/stasiun/^create">Create Station</a></li>
							{% endif %}
					        </ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Bike
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/bike">List of Bikes</a></li>
							{% if request.session.role == 'admin' %}
								<li><a href="/bike/^create">Create Bike</a></li>
							{% endif %}
							</ul>
						</li>
						{% if request.session.role != 'anggota' %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Assignment
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/penugasan">List of Assignments</a></li>
							{% if request.session.role == 'admin' %}
								<li><a href="/penugasan/create">Create Assignment</a></li>
							{% endif %}
							</ul>
						</li>
						{% endif %}	
						<li><a href="/otentikasi/logout/">Logout</a></li>
					{% else %}
						<li><a href="/otentikasi/">Login</a></li>
					{% endif %}
					</ul>
				</nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!-- End Fixed Navigation ==================================== -->
		<br>
		<br>
		<br>
		<main class="site-content" role="main">
			<section id="contact" >
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="roundedrec">
							<div class="insiderec">
								<div class="row">
									<div class="col-sm-12 refresh">
										<h3 class="judul gantijudul" style="text-align:center; color: black"><strong>Daftar Laporan</strong></h3>
										<br>
										
										<!--<div class="w3-container" style="padding-left: 965px;	">
											<button class="w3-button w3-xlarge w3-amber w3-card-4" >
												<a href="^create/" class="button--style-red">+</a>
											</button>
										  </div>-->
										<br>
										<br>
										{% if laporan %}
										<div class="table-responsive">
											<table id="demo" class="table">
													<thead>
														<tr class="text-center">
															<th scope="col" class="align-middle" style="text-align: center">No</th>
															<th scope="col" class="align-middle" style="text-align: center">Id Laporan</th>
															<th scope="col" class="align-middle" style="text-align: center">Tanggal Pinjam</th>
															<th scope="col" class="align-middle" style="text-align: center">Anggota</th>
															<th scope="col" class="align-middle" style="text-align: center">Denda</th>
															<th scope="col" class="align-middle" style="text-align: center">Status</th>
														</tr>
													</thead>
													<tbody>
														{% for aLaporan in laporan %}
														<tr class="text-center">
															<td scope="row"> {{ aLaporan.0 }}</td>
															<td scope="row"> {{ aLaporan.1 }}</td>
															<td scope="row"> {{ aLaporan.2 }}</td>
															<td scope="row"> {{ aLaporan.3 }}</td>
															<td scope="row"> Rp.{{ aLaporan.4 }}</td>
															<td scope="row"> Sudah selesai </td>
														</tr>
														{% endfor %}
													</tbody>
											</table>
										</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			

			<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
				<span class="nav-dot-current"></span>
				<span></span>
				<span></span>
			</nav>

		
			</section>
		
		</main>
		
		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">
						
						<div class="footer-social">
							<ul>
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-skype fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i class="fa fa-dribbble fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
							</ul>
						</div>
						
						<p>Copyright &copy; Design and Developed By Kelompok 6 Basdat-B</p>
					</div>
				</div>
			</div>
		</footer>
		
		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
		<!-- Twitter Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- Single Page Nav -->
        <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
		<!-- jquery.fancybox.pack -->
        <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
		<!-- Google Map API -->
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<!-- Owl Carousel -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- jquery easing -->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <!-- Fullscreen slider -->
        <script src="{% static 'js/jquery.slitslider.js' %}"></script>
        <script src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
		<!-- onscroll animation -->
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Custom Functions -->
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/baffle.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/scrollreveal.js' %}" type="text/javascript"></script>
		<script>
			window.sr = ScrollReveal();
			sr.reveal('.roundedrec', { duration: 1200 });
			sr.reveal('.isi', { duration: 1000 });
		</script>
	</body>
</html>
